{% extends "_layout" %}

{% block content %}
{% include "_include/header" %}
<div class="container"> 
  <!--======== Banner Image ========-->
  <section class="service-single">
    <div class="row">
    {% set entries = craft.entries().indivisualService(':notempty:').all() %}
        {% if entries|length %}
        {% for block in entry.indivisualService %}
        {% if block.type == 'pagebanner'%}
        {% set bannerimg = block.indbanner.first() %}
      <div class="col-12"> <img class="img-responsive" src="../../{{bannerimg.url}}"/> </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </section>
  <!--======== Service Single Content ========-->
  <section class="service-bio-single">
    <div class="row padding">
      <div class="col-6 s-left-content">
      {% for block in entry.indivisualService %}
      {% if block.type == 'intro'%}
        <h2 class="service-single-title">{{ block.introTite}}</h2>
        <p>{{block.introDescription}}</p>
      {% endif %}
      {% endfor %}
      </div>
       
      <div class="col-6">
        <div class="service-side-form"> 
        {% set title = entry.title %}
          <h3 class="form-bg-text">Enquire about {{ title}}</h3>
          {% include "_singles/indivisual-service-form.twig" %}
          </div>
      </div>
     
    </div>
  </section>
  <!--======== Bio Listing =========-->
  <section class="service-bio-column">
    <div class="row padding">
    {% for block in entry.indivisualService %}
    {% if block.type == 'supportingWay' %}
      <div class="col-12">
        <h2>{{block.support1Title}} </h2>
      </div>
      <div class="col-6">
        <h4 class="service-sub-title">{{block.support2Description}}</h4>
        <ul>
        {% if block.point1 %}
          <li>{{block.point1}}</li>
          {% endif %}
        {% if block.point2 %}
          <li>{{block.point2}}</li>
          {% endif %}
        {% if block.point3 %}
          <li>{{block.point3}}</li>
          {% endif %}
        {% if block.point4 %}
          <li>{{block.point4}}</li>
          {% endif %}
        {% if block.point5 %}
          <li>{{block.point5}}</li>
          {% endif %}
        {% if block.point6 %}
          <li>{{block.point6}}</li>
          {% endif %}
          
        </ul>
      </div>
      {% endif %}
    {% endfor %}
      <div class="col-6">
        {% for block in entry.indivisualService %}
        {% if block.type == 'supportingway2' %}
        <h4 class="service-sub-title">{{block.subtitle}}</h4>
        <ul>
          {% if block.point1 %}
          <li>{{block.point1}}</li>
          {% endif %}
        {% if block.point2 %}
          <li>{{block.point2}}</li>
          {% endif %}
        {% if block.point3 %}
          <li>{{block.point3}}</li>
          {% endif %}
        {% if block.point4 %}
          <li>{{block.point4}}</li>
          {% endif %}
        {% if block.point5 %}
          <li>{{block.point5}}</li>
          {% endif %}
        {% if block.point6 %}
          <li>{{block.point6}}</li>
          {% endif %}
          
        </ul>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    
    
  </section>
  <!--============ SLider =============-->
   
  
<section class="single-partial-slider">
    <div class="row">

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide multi-item-carousel" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        {% for block in entry.indivisualService %}
          {% if block.type == 'disabilitySlider' %}
          {% set indimg = block.sliderImage.first() %}
            
          {% if craft.app.request.absoluteUrl == 'https://abilitynetwork.com.au/disability-services/vocational-skills-training-and-employment/'%}
            {% if loop.index == 4 %}
              <div class="carousel-item active">
        <div class="item__third">
          <img src="../../{{ indimg ? indimg.url}}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      {% else %}
        <div class="carousel-item">
        <div class="item__third">
          <img src="../../{{ indimg ? indimg.url}}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>

      {% endif %}
      {% else %}

          {% if loop.index == 6 %}
      <div class="carousel-item active">
        <div class="item__third">
          <img src="../../{{ indimg ? indimg.url}}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      {% else %}
      <div class="carousel-item">
        <div class="item__third">
          <img src="../../{{ indimg ? indimg.url}}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
      
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <img src="../../{assetsBasePath}/images/single-left-icon.png">
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <img src="../../{assetsBasePath}/images/single-right-icon.png">
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
</div>
  </section>
  
  
  
  <!--======== Optional SEO Copy =========-->
  <section class="optional-copy">
    <div class="row padding">
    {% for block in entry.indivisualService %}
        {% if block.type == 'optionalseocopy' %}
      <div class="col-12 column-content">
      <h2 class="SEO-title">{{block.seotitle}}</h2>
        	<p>{{block.seodescription}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
  <!--======== End ========--> 
  

  
  
</div>
</div>

{% include "_include/footer" %}

{% endblock %}